@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
                <h1 class="display-4">Welcome to our modern equipment store!</h1>
                    <div>
	             <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Laptops</h5>
                    <p class="card-text">Comfortable and modern laptops for every taste for every need.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHNtYXJ0cGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Smartphones</h5>
                    <p class="card-text">Convenient, multifunctional and powerful smartphones.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Computers</h5>
                    <p class="card-text">Big, bright, powerful and simply incredible computers.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://images.unsplash.com/photo-1639004643579-7286ae5a771d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">System units</h5>
                    <p class="card-text">Modern, powerful and incredible system blocks for your computer.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
            </div>
        </div>
